openapi: 3.0.0
info:
  title: AssureSign DocumentNOW API Documentation
  description: AssureSign DocumentNOW electronic signature APIs (envelopes and documents) For DocumentNOW user and account management APIs, go to [Account API](https://account.assuresign.net/api/v3.6/account)
  contact:
    name: Support
    url: 'https://support.assuresign.net'
  version: '3.6'
servers:
  - url: 'https://sb.assuresign.net/api/documentnow/v3.6/'
    description: SB
  - url: 'https://www.assuresign.net/api/documentnow/v3.6/'
    description: WWW
paths:
  /emaildesignsets:
    get:
      tags:
        - EmailDesignSets
      description: ''
      summary: Retrieve all email design sets for a given account
      operationId: GetEmailDesignSets
      responses:
        '200':
          description: A successful response for getting email design sets
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/listEmailDesignSetsResultDto'
      parameters:
        - name: culture
          in: query
          description: >-
            Specifies which culture to use when including system designs.
            Currently supported cultures are: en‑US (English - US), es‑US
            (Spanish - US), and fr‑CA (French - Canada)
          required: false
          schema:
            type: string
            format: ''
        - name: IncludeSystemDesignSets
          in: query
          description: >-
            Specifies whether or not to include built-in design sets. To query a
            specific built-in design set, include the culture
          required: false
          schema:
            type: boolean
            format: ''
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
  '/emaildesignsets/{emailDesignSetID}/emailDesigns':
    get:
      tags:
        - EmailDesignSets
      description: ''
      summary: Retrieve all email designs for a given email design set
      operationId: GetEmailDesigns
      responses:
        '200':
          description: A successful response for getting email designs
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/listEmailDesignsResultDto'
      parameters:
        - name: emailDesignSetID
          in: path
          description: Specifies the unique identifier of the email design set
          required: true
          schema:
            type: string
            format: ''
        - name: culture
          in: query
          description: >-
            Specifies which culture to use when including system designs.
            Currently supported cultures are: en‑US (English - US), es‑US
            (Spanish - US), and fr‑CA (French - Canada)
          required: false
          schema:
            type: string
            format: ''
        - name: IncludeSystemDesigns
          in: query
          description: ''
          required: false
          schema:
            type: boolean
            format: ''
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
  '/emaildesignsets/{emailDesignSetID}/defaultEmailNotifications/{culture}':
    get:
      tags:
        - EmailDesignSets
      description: ''
      summary: Retrieve all default notifications
      operationId: GetDefaultNotifications
      responses:
        '200':
          description: >-
            A successful response for getting default notifications for a given
            design set
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/getDefaultNotificationsResult'
      parameters:
        - name: emailDesignSetID
          in: path
          description: Specifies the unique identifier of the email design set
          required: true
          schema:
            type: string
            format: ''
        - name: culture
          in: path
          description: >-
            Specifies which culture to use when including system designs.
            Currently supported cultures are: en‑US (English - US), es‑US
            (Spanish - US), and fr‑CA (French - Canada)
          required: true
          schema:
            type: string
            format: ''
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
  '/users/{username}/accounts':
    get:
      tags:
        - Users
      description: ''
      summary: Lists accounts the specified user may access.
      operationId: GetUserAccounts
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/getUserAccountsResultDto'
        '400':
          description: ''
          content:
            application/json: {}
      parameters:
        - name: username
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: ''
  /envelopes:
    get:
      tags:
        - Envelope
      description: ''
      summary: Get envelopes matching given criteria
      operationId: ListEnvelopes
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/listEnvelopesResultDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
        - name: dateFilter
          in: query
          description: ''
          required: true
          schema:
            type: string
            format: ''
            enum:
              - ANY
              - CREATED
              - CLOSED
              - EXPIRED
              - COMPLETION
              - CANCELLED
              - DECLINED
              - STALED
        - name: envelopeName
          in: query
          description: ''
          required: false
          schema:
            type: string
            format: ''
        - name: signerName
          in: query
          description: ''
          required: false
          schema:
            type: string
            format: ''
        - name: orderID
          in: query
          description: ''
          required: false
          schema:
            type: string
            format: ''
        - name: emailAddress
          in: query
          description: ''
          required: false
          schema:
            type: string
            format: ''
        - name: mobilePhone
          in: query
          description: ''
          required: false
          schema:
            type: string
            format: ''
        - name: fromDate
          in: query
          description: >-
            Can include time in the following format(s). MM/dd/yyyy HH:mm (24
            hour clock) 12/01/2020 13:01 | MM/dd/yyyy hh:mm tt (12 hour clock)
            12/01/2020 01:01 PM | MM/dd/yyyy (No time specified will default to
            12 am) 12/01/2020
          required: false
          schema:
            type: string
            format: ''
        - name: toDate
          in: query
          description: >-
            Can include time in the following format(s). MM/dd/yyyy HH:mm (24
            hour clock) 12/01/2020 13:01 | MM/dd/yyyy hh:mm tt (12 hour clock)
            12/01/2020 01:01 PM | MM/dd/yyyy (No time specified will default to
            12 am) 12/01/2020
          required: false
          schema:
            type: string
            format: ''
        - name: queryChildAccounts
          in: query
          description: ''
          required: false
          schema:
            type: boolean
            format: ''
  '/envelopes/{envelopeID}':
    get:
      tags:
        - Envelope
      description: ''
      summary: Envelope data
      operationId: GetEnvelope
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/getEnvelopeResultDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
        - name: envelopeID
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: ''
  '/envelope/{envelopeID}/signingLinks':
    get:
      tags:
        - Envelope
      description: >-
        Retrieve the signing links for the envelope identified by {envelopeID}.
        Note that bypassing authentication by setting isAuthenticated will fail
        should the account not be configured to allow customer provided
        authentication. Add includeOnlyCurrentSigners=true to the request to
        only include signers whose steps are currently active. You may specify a
        custom redirectUrl for signers by passing an HTML encoded URL. Set a
        date for the links to expire by passing a date in via
        linkExpirationDate. This date will always be interpreted as being in
        Coordinated Universal Time (UTC).
      summary: Get signing links for envelope signers
      operationId: GetSigningLinks
      responses:
        '200':
          description: signing links available for immediate presentment
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/getSigningLinksResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
        - name: envelopeID
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: ''
        - name: includeOnlyCurrentSigners
          in: query
          description: ''
          required: false
          schema:
            type: boolean
            format: ''
        - name: isAuthenticated
          in: query
          description: ''
          required: false
          schema:
            type: boolean
            format: ''
        - name: redirectUrl
          in: query
          description: ''
          required: false
          schema:
            type: string
            format: ''
        - name: linkExpirationDate
          in: query
          description: ''
          required: false
          schema:
            type: string
            format: ''
  '/envelope/{envelopeID}/accessLinks/{documentType}':
    get:
      tags:
        - Envelope
      description: >-
        Retrieve a link to a particular version of an envelope identified by
        {envelopeID} for a given party to the document. Identify the party
        (signers, CC contacts, originating user) by their email address or
        mobile phone number; identifying the party to the document is important
        since different parties may have different view of the envelope
        collection, depending on how it was constructed.  Calling the method
        without indicating a party will return the access link intended for the
        document originator. Note that interim versions of envelopes are only
        preserved as long as an envelope is unsigned or has not been cancelled.
        The completed version of the document will only be available for signed
        envelopes.
      summary: Get access links for a specific user in an envelope
      operationId: GetAccessLinks
      responses:
        '200':
          description: 'Provides access links to an envelope '
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/getAccessLinkResultDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
      parameters:
        - name: envelopeID
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: ''
        - name: documentType
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: ''
            enum:
              - ORIGINAL
              - INTERIM
              - COMPLETED
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
        - name: signerEmail
          in: query
          description: ''
          required: false
          schema:
            type: string
            format: ''
        - name: signerMobilePhone
          in: query
          description: ''
          required: false
          schema:
            type: string
            format: ''
        - name: linkExpirationDate
          in: query
          description: ''
          required: false
          schema:
            type: string
            format: ''
  '/envelopes/{envelopeID}/cancel':
    put:
      tags:
        - Envelope
      description: >-
        Cancel an envelope identified by {envelopeID} and stop pending workflow.
        The envelope must not be completed already for the cancellation to be
        accepted.
      summary: Cancel an active envelope
      operationId: CancelEnvelope
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/cancelEnvelopeResultDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
        - name: envelopeID
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: ''
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: object
                  $ref: '#/components/schemas/cancelEnvelopeRequestDto'
            example:
              request:
                remarks: Cancelling envelope because...
        required: true
  '/envelopes/{envelopeID}/download':
    post:
      tags:
        - Envelope
      description: >-
        Download the documents contained in the envelope identified by
        {envelopeID}. The document contents will be included in the response
        content as base64 encoded string data.
      summary: Download a completed envelope
      operationId: DownloadEnvelope
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/downloadEnvelopeResultDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
        - name: envelopeID
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: ''
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: object
                  $ref: '#/components/schemas/downloadEnvelopeRequestDto'
            example:
              request:
                envelopePassword: TheEnvelopePassword1234
        required: true
  '/envelopes/{envelopeID}/delete': {}
  '/envelopes/{envelopeID}/history':
    get:
      tags:
        - Envelope
      description: >-
        Retrieve the history for an envelope identified by {envelopeID}. The
        history of the envelope container will be returned in addition to the
        histories of individual documents contained in the envelope.
      summary: Get envelope history
      operationId: EnvelopeHistory
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/envelopeHistoryResultDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
        - name: envelopeID
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: ''
  '/envelopes/{envelopeID}/status':
    get:
      tags:
        - Envelope
      description: 'Retrieve the current status of the envelope identified by {envelopeID}.'
      summary: Get envelope status
      operationId: EnvelopeStatus
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: object
                    $ref: '#/components/schemas/envelopeStatusResultDto'
              examples:
                envelope Status Response:
                  value:
                    messages: []
                    result:
                      status: completed
                      documentList:
                        - status:
                            statusDate: '2020-09-08T04:00:00+00:00'
                            statusDateSpecified: true
                            statusType: completed
                            statusTypeSpecified: true
                            statusDetails: Document details
                          name: TestDocument
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
        - name: envelopeID
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: ''
  '/envelopes/{envelopeID}/signers/{envelopeSignerID}':
    put:
      tags:
        - Envelope
      description: ''
      summary: 'Update envelope signer name, email, mobile phone, and password'
      operationId: UpdateEnvelopeSigner
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/updateEnvelopeSignerResultDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
        - name: envelopeID
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: ''
        - name: envelopeSignerID
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: ''
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: object
                  $ref: '#/components/schemas/updateEnvelopeSignerRequestDto'
            example:
              request:
                updateEnvelopeSigner:
                  name: FirstName LastName
                  emailAddress: FirstName@example.com
                  resendLastEmail: true
        required: true
  '/envelopes/{envelopeID}/values':
    get:
      tags:
        - Envelope
      description: >-
        Get a list containing all of the typed fields (JotBlocks) and associated
        values contained in the envelope identified by {envelopeID}. The
        envelope must be completed prior to calling this method in order for
        field (JotBlock) values to be available.
      summary: Get a list of field (JotBlock) values for an envelope
      operationId: GetEnvelopeValues
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/getEnvelopeValuesResultDto'
        '400':
          description: Bad Request
          content:
            application/json: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
        '410':
          description: Deleted
          content:
            application/json: {}
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
        - name: envelopeID
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: ''
  /authentication/sso:
    post:
      tags:
        - SsoToken
      description: >-
        An API authenticated user may request an SSO token via
        /authentication/sso and add the token to the Simple Setup URL in the
        form ?ssoToken={ssoTokenValue} to redirect to a prepared envelope. For
        example, for a prepared envelope built at www.assuresign.net, append the
        preparedEnvelopeID to the address, along with the ssoToken, in the form
        https://www.assuresign.net/ui/simpleSetup/{preparedEnvelopeID}?ssoToken={ssoTokenValue}.
      summary: Obtain a token that can be applied as a query parameter to SimpleSetup
      operationId: GetWebTokenAsync
      responses:
        '200':
          description: A successful response for getting sso token
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/ssoResultDto'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: object
                  $ref: '#/components/schemas/ssoRequestDto'
            example: {}
        required: false
  /submit/prepare:
    post:
      tags:
        - PreparedEnvelope
      description: >-
        Preparing an envelope allows for further modification, either via
        additional API calls or by continuing to edit the envelope in the
        AssureSign UI. Ad hoc data may be submitted, or Simple Setup template
        information may be provided. The prepared envelope may be finalized by
        calling /submit/{preparedEnvelopeID}. Additional modifications may be
        made to the prepared envelope by performing a PUT to
        /submit/prepare/{preparedEnvelopeID}. An API authenticated user may
        request an SSO token via /authentication/sso and add the token to the
        Simple Setup URL in the form ?ssoToken={ssoTokenValue} to redirect to
        the prepared envelope. For example, for a prepared envelope built at
        www.assuresign.net, append the preparedEnvelopeID to the address, along
        with the ssoToken, in the form
        https://www.assuresign.net/ui/simpleSetup/{preparedEnvelopeID}?ssoToken={ssoTokenValue}.
        Additional examples are available on the [AssureSign support
        portal](https://support.assuresign.net/hc/en-us/articles/360011225593)
      summary: >-
        Prepare an envelope for additional operations, including manual review
        and adding documents
      operationId: CreatePreparedEnvelope
      responses:
        '200':
          description: A successful response for creating a prepared envelope
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/preparedEnvelopeUpsertResponse'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: object
                  $ref: '#/components/schemas/preparedEnvelopeParsed'
            example:
              request:
                content:
                  addendums: []
                  documents:
                    - attachments:
                        - allowMultipleUploads: true
                          instructions: Check this out
                          label: ''
                          required: true
                          signer: First Signer
                      fields:
                        - borderSides: {}
                          certified: true
                          fieldType: signature
                          inputType: signatory
                          instructions: Please sign by entering your full name.
                          name: Signature JotBlock
                          position:
                            x: 0.27
                            'y': 0.32
                          required: true
                          signer: First Signer
                          size:
                            height: 0.05
                            width: 0.7
                          sourceGroup: SIGNATURE
                          signatureStyle: drawn
                          fontSize: 10
                          horizontalAlignment: center
                          signerInputType: free_Text
                          verticalAlignment: middle
                      file:
                        fileToUpload:
                          data: '[File data must be converted to Base64]'
                          fileName: Example.pdf
                        extension: pdf
                      name: document 1
                  emailNotifications: []
                  envelope:
                    cultureType: en-US
                    expirationDate: '2020-10-08'
                    name: Example Envelope
                    templatesApplied: []
                    senderInputs: []
                    notificationSettings:
                      enableNotifications: true
                      addCustomRecipientsToEnvelopeComplete: true
                  notificationRecipients: []
                  signers:
                    - email: example@asd.com
                      label: First Signer
                      name: Signer one
                      signatureStyle: drawn
                  signerPayments:
                    - label: Signer one payment
                      signer: Signer one
                      paymentConfiguration:
                        signerPaymentChargeCard:
                          amount: '1.99'
                        orderNumber: ANYORDERNUMBER001
                      failureBehavior:
                        allowPaymentFailure: true
                  smsNotifications: []
                  steps: []
                  conditionalLogicItems: []
                  webHookNotifications: []
                  documentTransmissions: []
        required: true
  '/submit/prepare/{preparedEnvelopeID}':
    put:
      tags:
        - PreparedEnvelope
      description: >-
        Make additional modifications to the prepared envelope referenced by the
        {preparedEnvelopeID} that was returned from a /submit/prepare operation.
        This may be useful, for example, in cases where an envelope contains
        multiple documents and needs to be split up into multiple submissions.
      summary: Perform additional operations on a previously created prepared envelope
      operationId: UpdatePreparedEnvelope
      responses:
        '200':
          description: A successful response for updating a prepared envelope
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/preparedEnvelopeUpsertResponse'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
        - name: preparedEnvelopeID
          in: path
          description: ID of Prepared envelope
          required: true
          schema:
            type: string
            format: ''
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: object
                  $ref: '#/components/schemas/preparedEnvelopeParsed'
            example:
              request:
                content:
                  addendums: []
                  documents:
                    - attachments:
                        - allowMultipleUploads: true
                          instructions: Check this out
                          label: ''
                          required: true
                          signer: First Signer
                      fields:
                        - borderSides: {}
                          certified: true
                          fieldType: signature
                          inputType: signatory
                          instructions: Please sign by entering your full name.
                          name: Signature JotBlock
                          position:
                            x: 0.27
                            'y': 0.32
                          required: true
                          signer: First Signer
                          size:
                            height: 0.05
                            width: 0.7
                          sourceGroup: SIGNATURE
                          signatureStyle: drawn
                          fontSize: 10
                          horizontalAlignment: center
                          signerInputType: free_Text
                          verticalAlignment: middle
                      file:
                        fileToUpload:
                          data: '[File data must be converted to Base64]'
                          fileName: Example.pdf
                        extension: pdf
                      name: document 1
                  emailNotifications: []
                  envelope:
                    cultureType: en-US
                    expirationDate: '2020-10-08'
                    name: Example Envelope
                    templatesApplied: []
                    senderInputs: []
                    notificationSettings:
                      enableNotifications: true
                      addCustomRecipientsToEnvelopeComplete: true
                  notificationRecipients: []
                  signers:
                    - email: example@asd.com
                      label: First Signer
                      name: Signer one
                      signatureStyle: drawn
                  signerPayments:
                    - label: Signer one payment
                      signer: Signer one
                      paymentConfiguration:
                        signerPaymentChargeCard:
                          amount: '1.99'
                        orderNumber: ANYORDERNUMBER001
                      failureBehavior:
                        allowPaymentFailure: true
                  smsNotifications: []
                  steps: []
                  conditionalLogicItems: []
                  webHookNotifications: []
                  documentTransmissions: []
        required: true
  /submit:
    post:
      tags:
        - Submit
      description: >-
        Submit a complete envelope to begin the envelope's workflow,
        operating in the context of the the account indicated in the
        X-AS-UserContext header. Simple Setup templates may be used, a complete
        ad hoc envelope may be submitted, or a combination of ad hoc and
        templated information may be submitted. The messages section should be
        parsed for any warnings. A successful submit will return back an ID of
        the envelope that may be used in method calls requiring {envelopeID}.
        Additional examples are available on the [AssureSign support
        portal](https://support.assuresign.net/hc/en-us/articles/360011128574)
      summary: >-
        Submit a complete envelope via a combination of ad hoc data and/or
        Simple Setup templates.
      operationId: SubmitRequest
      responses:
        '200':
          description: A successful response for submit
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/submitResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: object
                  $ref: '#/components/schemas/templateParsed'
            examples:
              submit template example:
                value:
                  request:
                    placeholders: []
                    templates:
                      - templateID: 9562851d-7c22-415c-b373-6f49f72fdd53
                        values:
                          - name: 'Envelope Name 2 '
                            value: My New Envelope
                          - name: Envelope Order number 2
                            value: Account_Order_123
                          - name: Expiration Date 2
                            value: 06/17/2019
                          - name: Language
                            value: en-US
                          - name: Signer 1 Name
                            value: John Doe
                          - name: Signer 1 Email
                            value: john.doe@example.com
                          - name: Signer 1 Mobile Phone
                            value: ''
                          - name: DocumentFile
                            files:
                              - fileToUpload:
                                  data: Base64DataHere
                                  fileName: ExampleFileName.pdf
                                extension: pdf
                            overlayStartPage: 0
                description: >-
                  Pass the templateID of the Simple Setup template (you can
                  perform a GET to /templates to see all available templates),
                  and a values array of name/value pairs for the sender inputs.
                  You control the names of the sender inputs, so any submit
                  needs to be adjusted to match what your template requires be
                  sent in.
              submit Ad-hoc example:
                value:
                  request:
                    content:
                      addendums: []
                      documents:
                        - attachments:
                            - allowMultipleUploads: true
                              instructions: Check this out
                              label: ''
                              required: true
                              signer: First Signer
                          fields:
                            - borderSides: {}
                              certified: true
                              fieldType: signature
                              inputType: signatory
                              instructions: Please sign by entering your full name.
                              name: Signature JotBlock
                              position:
                                x: 0.27
                                'y': 0.32
                              required: true
                              signer: First Signer
                              size:
                                height: 0.05
                                width: 0.7
                              sourceGroup: SIGNATURE
                              signatureStyle: drawn
                              fontSize: 10
                              horizontalAlignment: center
                              signerInputType: free_Text
                              verticalAlignment: middle
                          file:
                            fileToUpload:
                              data: '[File data must be converted to Base64]'
                              fileName: Example.pdf
                            extension: pdf
                          name: document 1
                      emailNotifications: []
                      envelope:
                        cultureType: en-US
                        expirationDate: '2020-10-08'
                        name: Env1
                        templatesApplied: []
                        senderInputs: []
                        notificationSettings:
                          enableNotifications: true
                          addCustomRecipientsToEnvelopeComplete: true
                      notificationRecipients: []
                      signers:
                        - email: example@asd.com
                          label: First Signer
                          name: Signer one
                          signatureStyle: drawn
                      signerPayments: []
                      smsNotifications: []
                      steps: []
                      conditionalLogicItems: []
                      webHookNotifications: []
                      documentTransmissions: []
                    placeholders: []
                description: >-
                  Illustrates some of the possible configurations that could be
                  used to perform a submit of an ad-hoc document. It is also
                  possible to combine ad-hoc and template request information in
                  a single operation. 
        required: true
  /submit/validate:
    post:
      tags:
        - Submit
      description: >-
        Passing in the same JSON request structure as /submit, this method will
        validate the content of the request without completing the submission
        process.
      summary: Submit an envelope and contained documents for content validation only
      operationId: ValidateSubmit
      responses:
        '200':
          description: A successful response for preview
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/mergeResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/appError'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: object
                  $ref: '#/components/schemas/templateParsed'
            examples:
              validate template submission:
                value:
                  request:
                    placeholders: []
                    templates:
                      - templateID: 27b0b997-7f5a-4b11-a069-c0472b424718
                        values:
                          - name: 'Envelope Name 2 '
                            value: My New Envelope
                          - name: Envelope Order number 2
                            value: Account_Order_123
                          - name: Expiration Date 2
                            value: 06/17/2019
                          - name: Language
                            value: en-US
                          - name: Signer 1 Name
                            value: John Doe
                          - name: Signer 1 Email
                            value: john.doe@example.com
                          - name: Signer 1 Mobile Phone
                            value: ''
                          - name: DocumentFile
                            files:
                              - fileToUpload:
                                  data: Base64DataHere
                                  fileName: ExampleFileName.pdf
                                extension: pdf
                            overlayStartPage: 0
                description: >-
                  Pass the templateID of the Simple Setup template (you can
                  perform a GET to /templates to see all available templates),
                  and a values array of name/value pairs for the sender inputs.
                  You control the names of the sender inputs, so any submit
                  needs to be adjusted to match what your template requires be
                  sent in.
              validate Ad-hoc submission example:
                value:
                  request:
                    content:
                      addendums: []
                      documents:
                        - attachments:
                            - allowMultipleUploads: true
                              instructions: Check this out
                              label: ''
                              required: true
                              signer: First Signer
                          fields:
                            - borderSides: {}
                              certified: true
                              fieldType: signature
                              inputType: signatory
                              instructions: Please sign by entering your full name.
                              name: Signature JotBlock
                              position:
                                x: 0.27
                                'y': 0.32
                              required: true
                              signer: First Signer
                              size:
                                height: 0.05
                                width: 0.7
                              sourceGroup: SIGNATURE
                              signatureStyle: drawn
                              fontSize: 10
                              horizontalAlignment: center
                              signerInputType: free_Text
                              verticalAlignment: middle
                          file:
                            fileToUpload:
                              data: '[File data must be converted to Base64]'
                              fileName: Example.pdf
                            extension: pdf
                          name: document 1
                      emailNotifications: []
                      envelope:
                        cultureType: en-US
                        expirationDate: '2020-10-08'
                        name: Env1
                        templatesApplied: []
                        senderInputs: []
                        notificationSettings:
                          enableNotifications: true
                          addCustomRecipientsToEnvelopeComplete: true
                      notificationRecipients: []
                      signers:
                        - email: example@asd.com
                          label: First Signer
                          name: Signer one
                          signatureStyle: drawn
                      signerPayments: []
                      smsNotifications: []
                      steps: []
                      conditionalLogicItems: []
                      webHookNotifications: []
                      documentTransmissions: []
                    placeholders: []
                description: >-
                  Illustrates some of the possible configurations that could be
                  used to perform a submit of an ad-hoc document. It is also
                  possible to combine ad-hoc and template request information in
                  a single operation. 
        required: true
  '/submit/{preparedEnvelopeID}':
    post:
      tags:
        - Submit
      description: >-
        Finalize a submit of a prepared envelope previously created via a
        /submit/prepare operation. This closes the envelope and begins the
        envelope's workflow.
      summary: Finalize the submission of a previously prepared envelope.
      operationId: PreparedEnvelope
      responses:
        '200':
          description: A successful response for prepare
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/submitResult'
      parameters:
        - name: preparedEnvelopeID
          in: path
          description: ID of Prepared envelope
          required: true
          schema:
            type: string
            format: ''
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
  /templates:
    get:
      tags:
        - Templates
      description: >-
        List Simple Setup templates available to the user, operating in the
        context of the the account indicated in the X-AS-UserContext header.
        Detailed information for any given template may be retrieved by using
        the returned templateID in a call to templates/{templateID}. The
        messages section should be parsed for any warnings.
      summary: >-
        Retrieve a list of all of the Simple Setup templates available to the
        current user.
      operationId: GetAllTemplates
      responses:
        '200':
          description: A successful response for GetAllTemplates
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/templateList'
      parameters:
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
        - name: includeArchived
          in: query
          description: Include archived templates with the GetAll operation
          required: false
          schema:
            type: boolean
            format: ''
  '/templates/{templateID}':
    get:
      tags:
        - Templates
      description: >-
        Retrieve a Simple Setup envelope JSON structure. The messages section
        should be parsed for any warnings.
      summary: Retrieve all of the data for the specified Simple Setup template.
      operationId: GetTemplate
      responses:
        '200':
          description: A successful response for getting a template
          content:
            application/json:
              schema:
                properties:
                  messages:
                    type: array
                    description: ''
                    items:
                      type: n/a
                      format: ''
                      $ref: '#/components/schemas/responseMessageDto'
                  result:
                    $ref: '#/components/schemas/templateParsed'
      parameters:
        - name: templateID
          in: path
          description: Specifies the unique identifier of the template.
          required: true
          schema:
            type: string
            format: ''
        - name: X-AS-UserContext
          in: header
          description: '{username}:{DocumentNOW Account Context Identifier}'
          required: false
          schema:
            type: string
            format: ''
  /webHooks:
    post:
      summary: Create a new DocumentTrack Webhook
      description: Creates a new DocumentTrack Webhook
      parameters:
        - name: X-AS-UserContext
          in: header
          required: false
          schema:
            type: string
          description: '{username}:{DocumentNOW Account Context Identifier}'
        - name: newParam
          in: query
          required: false
          schema:
            type: string
      operationId: CreateWebhook
      responses:
        '200':
          description: A successful response for creating a prepared envelope
          content:
            application/json:
              schema: {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSchema'
components:
  schemas:
    actionSuccessResultDto:
      type: object
      properties:
        success:
          type: boolean
          description: ''
    responseMessageDto:
      type: object
      properties:
        details:
          type: string
          description: ''
        messageType:
          type: string
          description: ''
          enum:
            - Information
            - Verbose
            - Warning
            - Error
    ssoResultDto:
      type: object
      properties:
        ssoToken:
          type: string
          description: ''
    ssoRequestDto:
      type: object
      properties: {}
    apiFile:
      type: object
      properties:
        saved:
          type: object
          description: Specifies the metadata for a previously uploaded file.
          properties:
            fileName:
              type: string
              description: >-
                Specifies the full file name and extension for this previously
                uploaded file. Note that the filename should not contain any
                spaces or special characters.
            location:
              type: string
              description: Specifies the storage location of this previously uploaded file.
            pages:
              type: array
              description: >-
                Provides a list of the page images rendered for this previously
                uploaded file.
              items:
                type: object
                format: ''
                properties:
                  width:
                    type: string
                    description: Specifies the width (in pixels) of a page image.
                  height:
                    type: string
                    description: Specifies the height (in pixels) of a page image.
        fileToUpload:
          type: object
          description: Specifies the file metadata and file contents for a new file upload.
          properties:
            data:
              type: string
              description: Specifies the actual file data a Base64-encoded string.
            fileName:
              type: string
              description: 'Specifies the full file name and extension. Example: Policy.pdf'
            parseDocument:
              type: boolean
              description: Parse this document for dynamic jotblocks
            dynamicDocumentVersion:
              type: string
              description: >-
                Parse the Document using V2 or V3 syntax. Only applicable if
                ParseDocument is set to true
              enum:
                - V2
    prepareEnvelopeDto:
      type: object
      properties:
        name:
          type: string
          description: ''
        documents:
          type: array
          description: ''
          items:
            type: n/a
            format: ''
            $ref: '#/components/schemas/prepareDocumentDto'
        signers:
          type: array
          description: ''
          items:
            type: n/a
            format: ''
            $ref: '#/components/schemas/prepareSignerDto'
        customRecipients:
          type: array
          description: ''
          items:
            type: n/a
            format: ''
            $ref: '#/components/schemas/prepareCustomRecipientDto'
        notifications:
          type: array
          description: ''
          items:
            type: n/a
            format: ''
            $ref: '#/components/schemas/preparedNotificationDto'
    prepareDocumentDto:
      type: object
      properties:
        name:
          type: string
          description: ''
        data:
          type: string
          description: ''
        dataType:
          type: string
          description: ''
        extracted:
          type: object
          description: ''
          $ref: '#/components/schemas/prepareExtractedDocumentDto'
    prepareExtractedDocumentDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ''
        pages:
          type: array
          description: ''
          items:
            type: n/a
            format: ''
            $ref: '#/components/schemas/prepareExtractedPageDto'
    prepareExtractedPageDto:
      type: object
      properties:
        width:
          type: integer
          format: int32
          description: ''
        height:
          type: integer
          format: int32
          description: ''
    prepareSignerDto:
      type: object
      properties:
        label:
          type: string
          description: ''
        fullName:
          type: string
          description: ''
        emailAddress:
          type: string
          description: ''
        mobilePhone:
          type: string
          description: ''
        authentication:
          type: object
          description: ''
          $ref: '#/components/schemas/prepareSignerAuthenticationDto'
        signatureStyle:
          type: string
          description: ''
          enum:
            - SELECTABLE
            - DRAWN
            - TYPED
            - CLASSIC
    prepareSignerAuthenticationDto:
      type: object
      properties:
        password:
          type: string
          description: ''
        passwordPrompt:
          type: string
          description: ''
    prepareCustomRecipientDto:
      type: object
      properties:
        label:
          type: string
          description: ''
        fullName:
          type: string
          description: ''
        emailAddress:
          type: string
          description: ''
    preparedNotificationDto:
      type: object
      properties:
        type:
          type: string
          description: ''
        name:
          type: string
          description: ''
        subject:
          type: string
          description: ''
        body:
          type: string
          description: ''
        stage:
          type: string
          description: ''
          enum:
            - EnvelopeStart
            - EnvelopePreExpire
            - EnvelopeExpire
            - EnvelopeComplete
            - EnvelopeCancel
            - EnvelopeDecline
            - SignerFeedback
            - SignerAuthFailure
            - SignerKbaStart
            - SignerKbaComplete
            - StepStart
            - StepComplete
            - OnPaymentApproved
            - OnPaymentDeclined
            - OnPaymentRefunded
        step:
          type: integer
          format: int32
          description: ''
        recipients:
          type: array
          description: ''
          items:
            type: string
            format: ''
    preparedEnvelopeUpsertResponseV3_1:
      type: object
      properties:
        preparedEnvelopeId:
          type: string
          format: uuid
          description: Specifies the unique identifier of a prepared envelope.
    preparedEnvelopeUpsertResponse:
      type: object
      properties:
        preparedEnvelopeID:
          type: string
          format: uuid
          description: Specifies the unique identifier of a prepared envelope.
    submitResultV3_1:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ''
        authToken:
          type: string
          format: uuid
          description: ''
    submitResult:
      type: object
      properties:
        envelopeID:
          type: string
          format: uuid
          description: ''
        authToken:
          type: string
          format: uuid
          description: ''
    preparedEnvelopeRequestDto3_0:
      type: object
      properties:
        envelope:
          type: object
          description: ''
          $ref: '#/components/schemas/prepareEnvelopeDto'
    conditionalLogicItem:
      type: object
      properties:
        andOrType:
          type: string
          description: ''
          enum:
            - And
            - Or
        conditions:
          type: array
          description: ''
          items:
            type: object
            format: ''
            properties:
              objectEntityID:
                type: string
                description: ''
              objectEntityType:
                type: string
                description: ''
                enum:
                  - Field
                  - SignerAttachment
                  - SignerPayment
              regex:
                type: string
                description: ''
              compareType:
                type: string
                description: ''
                enum:
                  - Anything
                  - EqualTo
                  - NotEqualTo
                  - GreaterThan
                  - LessThan
                  - Skipped
                  - Enabled
                  - Regex
              conditionalValue:
                type: string
                description: ''
              isCaseSensitive:
                type: string
                description: ''
              trim:
                type: boolean
                description: ''
        actions:
          type: array
          description: ''
          items:
            type: object
            format: ''
            properties:
              objectEntityID:
                type: string
                description: links action to field
              objectEntityType:
                type: string
                description: ''
                enum:
                  - Field
                  - SignerAttachment
                  - SignerPayment
              requireSignerAttachment:
                type: boolean
                description: ''
              isHidden:
                type: boolean
                description: ''
              isShown:
                type: boolean
                description: ''
              isRequired:
                type: boolean
                description: ''
              requirePayment:
                type: boolean
                description: ''
    conditionalLogicCondition:
      type: object
      properties:
        objectEntityID:
          type: string
          description: ''
        objectEntityType:
          type: string
          description: ''
          enum:
            - Field
            - SignerAttachment
            - SignerPayment
        regex:
          type: string
          description: ''
        compareType:
          type: string
          description: ''
          enum:
            - Anything
            - EqualTo
            - NotEqualTo
            - GreaterThan
            - LessThan
            - Skipped
            - Enabled
            - Regex
        conditionalValue:
          type: string
          description: ''
        isCaseSensitive:
          type: string
          description: ''
        trim:
          type: boolean
          description: ''
    conditionalLogicAction:
      type: object
      properties:
        objectEntityID:
          type: string
          description: links action to field
        objectEntityType:
          type: string
          description: ''
          enum:
            - Field
            - SignerAttachment
            - SignerPayment
        requireSignerAttachment:
          type: boolean
          description: ''
        isHidden:
          type: boolean
          description: ''
        isShown:
          type: boolean
          description: ''
        isRequired:
          type: boolean
          description: ''
        requirePayment:
          type: boolean
          description: ''
    preparedEnvelopeParsedV3_2:
      type: object
      properties:
        content:
          type: object
          description: Provides the data required for submitting an envelope.
          $ref: '#/components/schemas/submissionV3_2'
    preparedEnvelopeParsed:
      type: object
      properties:
        content:
          type: object
          description: Provides the data required for submitting an envelope.
          properties:
            addendums:
              type: array
              description: >-
                Provides a list of non-signable addendums associated with the
                envelope.
              items:
                type: object
                format: ''
                properties:
                  file:
                    type: object
                    description: Provides the file metadata and contents for the addendum.
                    properties:
                      saved:
                        type: object
                        description: Specifies the metadata for a previously uploaded file.
                        properties:
                          fileName:
                            type: string
                            description: >-
                              Specifies the full file name and extension for
                              this previously uploaded file. Note that the
                              filename should not contain any spaces or special
                              characters.
                          location:
                            type: string
                            description: >-
                              Specifies the storage location of this previously
                              uploaded file.
                          pages:
                            type: array
                            description: >-
                              Provides a list of the page images rendered for
                              this previously uploaded file.
                            items:
                              type: object
                              format: ''
                              properties:
                                width:
                                  type: string
                                  description: >-
                                    Specifies the width (in pixels) of a page
                                    image.
                                height:
                                  type: string
                                  description: >-
                                    Specifies the height (in pixels) of a page
                                    image.
                      fileToUpload:
                        type: object
                        description: >-
                          Specifies the file metadata and file contents for a
                          new file upload.
                        properties:
                          data:
                            type: string
                            description: >-
                              Specifies the actual file data a Base64-encoded
                              string.
                          fileName:
                            type: string
                            description: >-
                              Specifies the full file name and extension.
                              Example: Policy.pdf
                          parseDocument:
                            type: boolean
                            description: Parse this document for dynamic jotblocks
                          dynamicDocumentVersion:
                            type: string
                            description: >-
                              Parse the Document using V2 or V3 syntax. Only
                              applicable if ParseDocument is set to true
                            enum:
                              - V2
                  name:
                    type: string
                    description: Specifies the name of the addendum.
            documents:
              type: array
              description: Provides a list of the documents included in the envelope.
              items:
                type: object
                format: ''
                properties:
                  attachments:
                    type: array
                    description: >-
                      Provides a list of the signer attachments that will be
                      collected and applied to the document.
                    items:
                      type: object
                      format: ''
                      properties:
                        allowMultipleUploads:
                          type: boolean
                          description: >-
                            Specifies whether or not signers will be allowed to
                            upload more than one file for the requested
                            attachment.
                        instructions:
                          type: string
                          description: >-
                            Specifies the instructions that will be presented to
                            the signer when they are prompted to upload the
                            attachment during signing.
                        label:
                          type: string
                          description: Specifies a label for the signer attachment.
                        required:
                          type: boolean
                          description: >-
                            Specifies whether or not signers will be required to
                            upload a file for the requested attachment.
                        signer:
                          type: string
                          description: >-
                            Specifies the 'Label' of the signer that
                            will be prompted to upload the attachement.
                  fields:
                    type: array
                    description: >-
                      Provides a list of the fields (JotBlocks) that will be
                      applied to the document.
                    items:
                      type: object
                      format: ''
                      properties:
                        borderSides:
                          type: object
                          description: >-
                            Specifies the borders that should be drawn around
                            the field (if any).
                          properties:
                            bottom:
                              type: boolean
                              description: >-
                                Specifies whether or not a border should be
                                rendered on the bottom of the field.
                            left:
                              type: boolean
                              description: >-
                                Specifies whether or not a border should be
                                rendered on the left side of the field.
                            right:
                              type: boolean
                              description: >-
                                Specifies whether or not a border should be
                                rendered on the right side of the field.
                            top:
                              type: boolean
                              description: >-
                                Specifies whether or not a border should be
                                rendered on the top of the field.
                        certified:
                          type: boolean
                          description: >-
                            Specifies whether or not printed metadata uniquely
                            identifying the field should be rendered around it
                            to visually distinguish it from other data on the
                            containing page.
                        fieldType:
                          type: string
                          description: >-
                            Specifies the type of input required for the field:
                            signature/initials or text.
                          enum:
                            - Typed
                            - Signature
                        inputType:
                          type: string
                          description: >-
                            Specifies the source of the input for the field.
                            Possible values include 'Signer' and
                            'Fixed'.
                          enum:
                            - Signer
                            - Fixed
                            - Signatory
                        instructions:
                          type: string
                          description: >-
                            Specifies the instructions that will be presented to
                            the signer when they are prompted to provide input
                            for the field.
                        name:
                          type: string
                          description: Specifies the name of the field.
                        pageIndex:
                          type: integer
                          format: int32
                          description: Specifies the 0-based index of the containing page.
                        position:
                          type: object
                          description: >-
                            Specifies the position of the field relative to the
                            upper-left corner of the containing page. For
                            example: a field with an 'X Coordinate' of
                            '0.2' and a 'Y Coordinate' of
                            '0.4' would be positioned with its upper
                            left corner 20% of the way across the page
                            horizontally and 40% down the page vertically.
                          properties:
                            x:
                              type: number
                              format: float
                              description: >-
                                Specifies the horizontal position of the field
                                or option relative to the left side of the
                                containing page. For example: a field with an
                                'X Coordinate' of '0.2'
                                would be positioned with its left side 20% of
                                the way across the page horizontally.
                            'y':
                              type: number
                              format: float
                              description: >-
                                Specifies the vertical position of the field or
                                option relative to the top of the containing
                                page. For example: a field with a 'Y
                                Coordinate' of '0.4' would be
                                positioned with its top 40% of the way down the
                                page vertically.
                        required:
                          type: boolean
                          description: >-
                            Specifies whether or not signer input is required
                            for the field.
                        hidden:
                          type: boolean
                          description: Specifies whether or not the field is hidden.
                        signer:
                          type: string
                          description: >-
                            Specifies the label identifying the intended signer
                            for fields that require signer input (signature or
                            text).
                        size:
                          type: object
                          description: >-
                            Specifies the size of the field relative to the size
                            of the containing page. For example: a field with a
                            'Height' of '0.1' and a
                            'Width' of '0.3' would be sized
                            10% of total page height and 30% of total page
                            width.
                          properties:
                            height:
                              type: number
                              format: float
                              description: >-
                                Specifies the height of the field or option
                                relative to the height of the containing page.
                                For example: a field with a 'Height'
                                of '0.1' would be sized 10% of total
                                page height.
                            width:
                              type: number
                              format: float
                              description: >-
                                Specifies the width of the field or option
                                relative to the width of the containing page.
                                For example: a field with a 'Width' of
                                '0.3' would be sized 30% of total page
                                width.
                        sourceGroup:
                          type: string
                          description: >-
                            Optionally specifies a common identifier for a group
                            of fields in an envelope that should share a value.
                        tag:
                          type: string
                          description: >-
                            A generic holder of any information you would like
                            to provide
                        fixedText:
                          type: string
                          description: >-
                            Specifies the text contents for the field for fields
                            with a 'FieldType' of 'Typed'
                            and an 'InputType' of 'Fixed'.
                            Note: content may include merge fields.
                        timing:
                          type: string
                          description: >-
                            Specifies the timing for when the contents of the
                            field will be rendered to the containing document
                            for fields with a 'FieldType' of
                            'Typed' and an 'InputType' of
                            'Fixed'.
                          enum:
                            - On_Document_Start
                            - On_Document_Complete
                        options:
                          type: array
                          description: >-
                            Provides the list of options to present to the
                            signer for fields with a 'FieldType' of
                            'Typed' and one of the 'Multiple
                            Choice' signatory input types.
                          items:
                            type: object
                            format: ''
                            properties:
                              graphicRenderType:
                                type: string
                                description: >-
                                  Specifies how the option will be rendered to
                                  the document if selected. Possible values
                                  include: Empty = 0, Check = 1, X = 2,
                                  No_Box_Empty = 3, No_Box_Check = 4, No_Box_X =
                                  5, Text = 6
                                enum:
                                  - Empty
                                  - Check
                                  - X
                                  - No_Box_Empty
                                  - No_Box_Check
                                  - No_Box_X
                                  - Text
                                  - None
                              selected:
                                type: boolean
                                description: >-
                                  Specifies whether or not the option will be
                                  selected by default.
                              text:
                                type: string
                                description: >-
                                  Specifies the text for the option that will be
                                  presented to the signer.
                              value:
                                type: string
                                description: >-
                                  Specifies the value of the option (may be
                                  different than the displayed text).
                              pageIndex:
                                type: integer
                                format: int32
                                description: >-
                                  Specifies the 0-based index of the containing
                                  page.
                              position:
                                type: object
                                description: >-
                                  Specifies the position of the option relative
                                  to the upper-left corner of the containing
                                  page for radio button or checkbox options. For
                                  example: an option with an 'X
                                  Coordinate' of '0.2' and a
                                  'Y Coordinate' of '0.4'
                                  would be positioned with its upper left corner
                                  20% of the way across the page horizontally
                                  and 40% down the page vertically.
                                properties:
                                  x:
                                    type: number
                                    format: float
                                    description: >-
                                      Specifies the horizontal position of the
                                      field or option relative to the left side
                                      of the containing page. For example: a
                                      field with an 'X Coordinate' of
                                      '0.2' would be positioned with
                                      its left side 20% of the way across the
                                      page horizontally.
                                  'y':
                                    type: number
                                    format: float
                                    description: >-
                                      Specifies the vertical position of the
                                      field or option relative to the top of the
                                      containing page. For example: a field with
                                      a 'Y Coordinate' of
                                      '0.4' would be positioned with
                                      its top 40% of the way down the page
                                      vertically.
                              size:
                                type: object
                                description: >-
                                  Specifies the size of the option relative to
                                  the size of the containing page for radio
                                  button or checkbox options. For example: an
                                  option with a 'Height' of
                                  '0.1' and a 'Width' of
                                  '0.3' would be sized 10% of total
                                  page height and 30% of total page width.
                                properties:
                                  height:
                                    type: number
                                    format: float
                                    description: >-
                                      Specifies the height of the field or
                                      option relative to the height of the
                                      containing page. For example: a field with
                                      a 'Height' of '0.1'
                                      would be sized 10% of total page height.
                                  width:
                                    type: number
                                    format: float
                                    description: >-
                                      Specifies the width of the field or option
                                      relative to the width of the containing
                                      page. For example: a field with a
                                      'Width' of '0.3' would
                                      be sized 30% of total page width.
                        multipleChoiceDefaultValues:
                          type: array
                          description: >-
                            Specify list of values that will be automatically
[...]
