{
    "openapi": "3.0.2",
    "info": {
        "title": "AssureSign DocumentNOW API Documentation",
        "version": "3.6",
        "description": "AssureSign DocumentNOW electronic signature APIs (envelopes and documents) For DocumentNOW user and account management APIs, go to [Account API](https://account.assuresign.net/api/v3.6/account)",
        "contact": {
            "name": "Support",
            "url": "https://support.assuresign.net"
        }
    },
    "servers": [
        {
            "url": "https://sb.assuresign.net/api/documentnow/v3.6/",
            "description": "SB"
        },
        {
            "url": "https://www.assuresign.net/api/documentnow/v3.6/",
            "description": "WWW"
        }
    ],
    "paths": {
        "/emaildesignsets": {
            "get": {
                "tags": [
                    "EmailDesignSets"
                ],
                "parameters": [
                    {
                        "name": "culture",
                        "description": "Specifies which culture to use when including system designs. Currently supported cultures are: en‑US (English - US), es‑US (Spanish - US), and fr‑CA (French - Canada)",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "IncludeSystemDesignSets",
                        "description": "Specifies whether or not to include built-in design sets. To query a specific built-in design set, include the culture",
                        "schema": {
                            "format": "",
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/listEmailDesignSetsResultDto"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "A successful response for getting email design sets"
                    }
                },
                "operationId": "GetEmailDesignSets",
                "summary": "Retrieve all email design sets for a given account",
                "description": ""
            }
        },
        "/emaildesignsets/{emailDesignSetID}/emailDesigns": {
            "get": {
                "tags": [
                    "EmailDesignSets"
                ],
                "parameters": [
                    {
                        "name": "emailDesignSetID",
                        "description": "Specifies the unique identifier of the email design set",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "culture",
                        "description": "Specifies which culture to use when including system designs. Currently supported cultures are: en‑US (English - US), es‑US (Spanish - US), and fr‑CA (French - Canada)",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "IncludeSystemDesigns",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/listEmailDesignsResultDto"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "A successful response for getting email designs"
                    }
                },
                "operationId": "GetEmailDesigns",
                "summary": "Retrieve all email designs for a given email design set",
                "description": ""
            }
        },
        "/emaildesignsets/{emailDesignSetID}/defaultEmailNotifications/{culture}": {
            "get": {
                "tags": [
                    "EmailDesignSets"
                ],
                "parameters": [
                    {
                        "name": "emailDesignSetID",
                        "description": "Specifies the unique identifier of the email design set",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "culture",
                        "description": "Specifies which culture to use when including system designs. Currently supported cultures are: en‑US (English - US), es‑US (Spanish - US), and fr‑CA (French - Canada)",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/getDefaultNotificationsResult"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "A successful response for getting default notifications for a given design set"
                    }
                },
                "operationId": "GetDefaultNotifications",
                "summary": "Retrieve all default notifications",
                "description": ""
            }
        },
        "/users/{username}/accounts": {
            "get": {
                "tags": [
                    "Users"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/getUserAccountsResultDto"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    },
                    "400": {
                        "content": {
                            "application/json": {}
                        },
                        "description": ""
                    }
                },
                "operationId": "GetUserAccounts",
                "summary": "Lists accounts the specified user may access.",
                "description": ""
            }
        },
        "/envelopes": {
            "get": {
                "tags": [
                    "Envelope"
                ],
                "parameters": [
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    },
                    {
                        "name": "dateFilter",
                        "description": "",
                        "schema": {
                            "format": "",
                            "enum": [
                                "ANY",
                                "CREATED",
                                "CLOSED",
                                "EXPIRED",
                                "COMPLETION",
                                "CANCELLED",
                                "DECLINED",
                                "STALED"
                            ],
                            "type": "string"
                        },
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "envelopeName",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "signerName",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "orderID",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "emailAddress",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "mobilePhone",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "fromDate",
                        "description": "Can include time in the following format(s). MM/dd/yyyy HH:mm (24 hour clock) 12/01/2020 13:01 | MM/dd/yyyy hh:mm tt (12 hour clock) 12/01/2020 01:01 PM | MM/dd/yyyy (No time specified will default to 12 am) 12/01/2020",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "toDate",
                        "description": "Can include time in the following format(s). MM/dd/yyyy HH:mm (24 hour clock) 12/01/2020 13:01 | MM/dd/yyyy hh:mm tt (12 hour clock) 12/01/2020 01:01 PM | MM/dd/yyyy (No time specified will default to 12 am) 12/01/2020",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "queryChildAccounts",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/listEnvelopesResultDto"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Unauthorized"
                    }
                },
                "operationId": "ListEnvelopes",
                "summary": "Get envelopes matching given criteria",
                "description": ""
            }
        },
        "/envelopes/{envelopeID}": {
            "get": {
                "tags": [
                    "Envelope"
                ],
                "parameters": [
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    },
                    {
                        "name": "envelopeID",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/getEnvelopeResultDto"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Unauthorized"
                    }
                },
                "operationId": "GetEnvelope",
                "summary": "Envelope data",
                "description": ""
            }
        },
        "/envelope/{envelopeID}/signingLinks": {
            "get": {
                "tags": [
                    "Envelope"
                ],
                "parameters": [
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    },
                    {
                        "name": "envelopeID",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "includeOnlyCurrentSigners",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "isAuthenticated",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "redirectUrl",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "linkExpirationDate",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/getSigningLinksResponseDto"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "signing links available for immediate presentment"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Unauthorized"
                    }
                },
                "operationId": "GetSigningLinks",
                "summary": "Get signing links for envelope signers",
                "description": "Retrieve the signing links for the envelope identified by {envelopeID}. Note that bypassing authentication by setting isAuthenticated will fail should the account not be configured to allow customer provided authentication. Add includeOnlyCurrentSigners=true to the request to only include signers whose steps are currently active. You may specify a custom redirectUrl for signers by passing an HTML encoded URL. Set a date for the links to expire by passing a date in via linkExpirationDate. This date will always be interpreted as being in Coordinated Universal Time (UTC)."
            }
        },
        "/envelope/{envelopeID}/accessLinks/{documentType}": {
            "get": {
                "tags": [
                    "Envelope"
                ],
                "parameters": [
                    {
                        "name": "envelopeID",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "documentType",
                        "description": "",
                        "schema": {
                            "format": "",
                            "enum": [
                                "ORIGINAL",
                                "INTERIM",
                                "COMPLETED"
                            ],
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    },
                    {
                        "name": "signerEmail",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "signerMobilePhone",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "linkExpirationDate",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/getAccessLinkResultDto"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Provides access links to an envelope "
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Unauthorized"
                    }
                },
                "operationId": "GetAccessLinks",
                "summary": "Get access links for a specific user in an envelope",
                "description": "Retrieve a link to a particular version of an envelope identified by {envelopeID} for a given party to the document. Identify the party (signers, CC contacts, originating user) by their email address or mobile phone number; identifying the party to the document is important since different parties may have different view of the envelope collection, depending on how it was constructed.  Calling the method without indicating a party will return the access link intended for the document originator. Note that interim versions of envelopes are only preserved as long as an envelope is unsigned or has not been cancelled. The completed version of the document will only be available for signed envelopes."
            }
        },
        "/envelopes/{envelopeID}/cancel": {
            "put": {
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "request": {
                                        "$ref": "#/components/schemas/cancelEnvelopeRequestDto",
                                        "type": "object"
                                    }
                                }
                            },
                            "example": {
                                "request": {
                                    "remarks": "Cancelling envelope because..."
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Envelope"
                ],
                "parameters": [
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    },
                    {
                        "name": "envelopeID",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/cancelEnvelopeResultDto"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Unauthorized"
                    }
                },
                "operationId": "CancelEnvelope",
                "summary": "Cancel an active envelope",
                "description": "Cancel an envelope identified by {envelopeID} and stop pending workflow. The envelope must not be completed already for the cancellation to be accepted."
            }
        },
        "/envelopes/{envelopeID}/download": {
            "post": {
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "request": {
                                        "$ref": "#/components/schemas/downloadEnvelopeRequestDto",
                                        "type": "object"
                                    }
                                }
                            },
                            "example": {
                                "request": {
                                    "envelopePassword": "TheEnvelopePassword1234"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Envelope"
                ],
                "parameters": [
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    },
                    {
                        "name": "envelopeID",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/downloadEnvelopeResultDto"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Unauthorized"
                    }
                },
                "operationId": "DownloadEnvelope",
                "summary": "Download a completed envelope",
                "description": "Download the documents contained in the envelope identified by {envelopeID}. The document contents will be included in the response content as base64 encoded string data."
            }
        },
        "/envelopes/{envelopeID}/delete": {},
        "/envelopes/{envelopeID}/history": {
            "get": {
                "tags": [
                    "Envelope"
                ],
                "parameters": [
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    },
                    {
                        "name": "envelopeID",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/envelopeHistoryResultDto"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Unauthorized"
                    }
                },
                "operationId": "EnvelopeHistory",
                "summary": "Get envelope history",
                "description": "Retrieve the history for an envelope identified by {envelopeID}. The history of the envelope container will be returned in addition to the histories of individual documents contained in the envelope."
            }
        },
        "/envelopes/{envelopeID}/status": {
            "get": {
                "tags": [
                    "Envelope"
                ],
                "parameters": [
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    },
                    {
                        "name": "envelopeID",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "$ref": "#/components/schemas/envelopeStatusResultDto",
                                            "type": "object"
                                        }
                                    }
                                },
                                "examples": {
                                    "envelope Status Response": {
                                        "value": {
                                            "messages": [],
                                            "result": {
                                                "status": "completed",
                                                "documentList": [
                                                    {
                                                        "status": {
                                                            "statusDate": "2020-09-08T04:00:00+00:00",
                                                            "statusDateSpecified": true,
                                                            "statusType": "completed",
                                                            "statusTypeSpecified": true,
                                                            "statusDetails": "Document details"
                                                        },
                                                        "name": "TestDocument"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Unauthorized"
                    }
                },
                "operationId": "EnvelopeStatus",
                "summary": "Get envelope status",
                "description": "Retrieve the current status of the envelope identified by {envelopeID}."
            }
        },
        "/envelopes/{envelopeID}/signers/{envelopeSignerID}": {
            "put": {
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "request": {
                                        "$ref": "#/components/schemas/updateEnvelopeSignerRequestDto",
                                        "type": "object"
                                    }
                                }
                            },
                            "example": {
                                "request": {
                                    "updateEnvelopeSigner": {
                                        "name": "FirstName LastName",
                                        "emailAddress": "FirstName@example.com",
                                        "resendLastEmail": true
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Envelope"
                ],
                "parameters": [
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    },
                    {
                        "name": "envelopeID",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "envelopeSignerID",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/updateEnvelopeSignerResultDto"
                                        }
                                    }
                                }
                            }
                        },
                        "description": ""
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Unauthorized"
                    }
                },
                "operationId": "UpdateEnvelopeSigner",
                "summary": "Update envelope signer name, email, mobile phone, and password",
                "description": ""
            }
        },
        "/envelopes/{envelopeID}/values": {
            "get": {
                "tags": [
                    "Envelope"
                ],
                "parameters": [
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    },
                    {
                        "name": "envelopeID",
                        "description": "",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/getEnvelopeValuesResultDto"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Successful Response"
                    },
                    "400": {
                        "content": {
                            "application/json": {}
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/appError"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "410": {
                        "content": {
                            "application/json": {}
                        },
                        "description": "Deleted"
                    }
                },
                "operationId": "GetEnvelopeValues",
                "summary": "Get a list of field (JotBlock) values for an envelope",
                "description": "Get a list containing all of the typed fields (JotBlocks) and associated values contained in the envelope identified by {envelopeID}. The envelope must be completed prior to calling this method in order for field (JotBlock) values to be available."
            }
        },
        "/authentication/sso": {
            "post": {
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "request": {
                                        "$ref": "#/components/schemas/ssoRequestDto",
                                        "type": "object"
                                    }
                                }
                            },
                            "example": {}
                        }
                    },
                    "required": false
                },
                "tags": [
                    "SsoToken"
                ],
                "parameters": [
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/ssoResultDto"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "A successful response for getting sso token"
                    }
                },
                "operationId": "GetWebTokenAsync",
                "summary": "Obtain a token that can be applied as a query parameter to SimpleSetup",
                "description": "An API authenticated user may request an SSO token via /authentication/sso and add the token to the Simple Setup URL in the form ?ssoToken={ssoTokenValue} to redirect to a prepared envelope. For example, for a prepared envelope built at www.assuresign.net, append the preparedEnvelopeID to the address, along with the ssoToken, in the form https://www.assuresign.net/ui/simpleSetup/{preparedEnvelopeID}?ssoToken={ssoTokenValue}."
            }
        },
        "/submit/prepare": {
            "post": {
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "request": {
                                        "$ref": "#/components/schemas/preparedEnvelopeParsed",
                                        "type": "object"
                                    }
                                }
                            },
                            "example": {
                                "request": {
                                    "content": {
                                        "addendums": [],
                                        "documents": [
                                            {
                                                "attachments": [
                                                    {
                                                        "allowMultipleUploads": true,
                                                        "instructions": "Check this out",
                                                        "label": "",
                                                        "required": true,
                                                        "signer": "First Signer"
                                                    }
                                                ],
                                                "fields": [
                                                    {
                                                        "borderSides": {},
                                                        "certified": true,
                                                        "fieldType": "signature",
                                                        "inputType": "signatory",
                                                        "instructions": "Please sign by entering your full name.",
                                                        "name": "Signature JotBlock",
                                                        "position": {
                                                            "x": 0.27,
                                                            "y": 0.32
                                                        },
                                                        "required": true,
                                                        "signer": "First Signer",
                                                        "size": {
                                                            "height": 0.05,
                                                            "width": 0.7
                                                        },
                                                        "sourceGroup": "SIGNATURE",
                                                        "signatureStyle": "drawn",
                                                        "fontSize": 10,
                                                        "horizontalAlignment": "center",
                                                        "signerInputType": "free_Text",
                                                        "verticalAlignment": "middle"
                                                    }
                                                ],
                                                "file": {
                                                    "fileToUpload": {
                                                        "data": "[File data must be converted to Base64]",
                                                        "fileName": "Example.pdf"
                                                    },
                                                    "extension": "pdf"
                                                },
                                                "name": "document 1"
                                            }
                                        ],
                                        "emailNotifications": [],
                                        "envelope": {
                                            "cultureType": "en-US",
                                            "expirationDate": "2020-10-08",
                                            "name": "Example Envelope",
                                            "templatesApplied": [],
                                            "senderInputs": [],
                                            "notificationSettings": {
                                                "enableNotifications": true,
                                                "addCustomRecipientsToEnvelopeComplete": true
                                            }
                                        },
                                        "notificationRecipients": [],
                                        "signers": [
                                            {
                                                "email": "example@asd.com",
                                                "label": "First Signer",
                                                "name": "Signer one",
                                                "signatureStyle": "drawn"
                                            }
                                        ],
                                        "signerPayments": [
                                            {
                                                "label": "Signer one payment",
                                                "signer": "Signer one",
                                                "paymentConfiguration": {
                                                    "signerPaymentChargeCard": {
                                                        "amount": "1.99"
                                                    },
                                                    "orderNumber": "ANYORDERNUMBER001"
                                                },
                                                "failureBehavior": {
                                                    "allowPaymentFailure": true
                                                }
                                            }
                                        ],
                                        "smsNotifications": [],
                                        "steps": [],
                                        "conditionalLogicItems": [],
                                        "webHookNotifications": [],
                                        "documentTransmissions": []
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "PreparedEnvelope"
                ],
                "parameters": [
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/preparedEnvelopeUpsertResponse"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "A successful response for creating a prepared envelope"
                    }
                },
                "operationId": "CreatePreparedEnvelope",
                "summary": "Prepare an envelope for additional operations, including manual review and adding documents",
                "description": "Preparing an envelope allows for further modification, either via additional API calls or by continuing to edit the envelope in the AssureSign UI. Ad hoc data may be submitted, or Simple Setup template information may be provided. The prepared envelope may be finalized by calling /submit/{preparedEnvelopeID}. Additional modifications may be made to the prepared envelope by performing a PUT to /submit/prepare/{preparedEnvelopeID}. An API authenticated user may request an SSO token via /authentication/sso and add the token to the Simple Setup URL in the form ?ssoToken={ssoTokenValue} to redirect to the prepared envelope. For example, for a prepared envelope built at www.assuresign.net, append the preparedEnvelopeID to the address, along with the ssoToken, in the form https://www.assuresign.net/ui/simpleSetup/{preparedEnvelopeID}?ssoToken={ssoTokenValue}. Additional examples are available on the [AssureSign support portal](https://support.assuresign.net/hc/en-us/articles/360011225593)"
            }
        },
        "/submit/prepare/{preparedEnvelopeID}": {
            "put": {
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "request": {
                                        "$ref": "#/components/schemas/preparedEnvelopeParsed",
                                        "type": "object"
                                    }
                                }
                            },
                            "example": {
                                "request": {
                                    "content": {
                                        "addendums": [],
                                        "documents": [
                                            {
                                                "attachments": [
                                                    {
                                                        "allowMultipleUploads": true,
                                                        "instructions": "Check this out",
                                                        "label": "",
                                                        "required": true,
                                                        "signer": "First Signer"
                                                    }
                                                ],
                                                "fields": [
                                                    {
                                                        "borderSides": {},
                                                        "certified": true,
                                                        "fieldType": "signature",
                                                        "inputType": "signatory",
                                                        "instructions": "Please sign by entering your full name.",
                                                        "name": "Signature JotBlock",
                                                        "position": {
                                                            "x": 0.27,
                                                            "y": 0.32
                                                        },
                                                        "required": true,
                                                        "signer": "First Signer",
                                                        "size": {
                                                            "height": 0.05,
                                                            "width": 0.7
                                                        },
                                                        "sourceGroup": "SIGNATURE",
                                                        "signatureStyle": "drawn",
                                                        "fontSize": 10,
                                                        "horizontalAlignment": "center",
                                                        "signerInputType": "free_Text",
                                                        "verticalAlignment": "middle"
                                                    }
                                                ],
                                                "file": {
                                                    "fileToUpload": {
                                                        "data": "[File data must be converted to Base64]",
                                                        "fileName": "Example.pdf"
                                                    },
                                                    "extension": "pdf"
                                                },
                                                "name": "document 1"
                                            }
                                        ],
                                        "emailNotifications": [],
                                        "envelope": {
                                            "cultureType": "en-US",
                                            "expirationDate": "2020-10-08",
                                            "name": "Example Envelope",
                                            "templatesApplied": [],
                                            "senderInputs": [],
                                            "notificationSettings": {
                                                "enableNotifications": true,
                                                "addCustomRecipientsToEnvelopeComplete": true
                                            }
                                        },
                                        "notificationRecipients": [],
                                        "signers": [
                                            {
                                                "email": "example@asd.com",
                                                "label": "First Signer",
                                                "name": "Signer one",
                                                "signatureStyle": "drawn"
                                            }
                                        ],
                                        "signerPayments": [
                                            {
                                                "label": "Signer one payment",
                                                "signer": "Signer one",
                                                "paymentConfiguration": {
                                                    "signerPaymentChargeCard": {
                                                        "amount": "1.99"
                                                    },
                                                    "orderNumber": "ANYORDERNUMBER001"
                                                },
                                                "failureBehavior": {
                                                    "allowPaymentFailure": true
                                                }
                                            }
                                        ],
                                        "smsNotifications": [],
                                        "steps": [],
                                        "conditionalLogicItems": [],
                                        "webHookNotifications": [],
                                        "documentTransmissions": []
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "PreparedEnvelope"
                ],
                "parameters": [
                    {
                        "name": "X-AS-UserContext",
                        "description": "{username}:{DocumentNOW Account Context Identifier}",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "header",
                        "required": false
                    },
                    {
                        "name": "preparedEnvelopeID",
                        "description": "ID of Prepared envelope",
                        "schema": {
                            "format": "",
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "description": "",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/responseMessageDto",
                                                "format": "",
                                                "type": "n/a"
                                            }
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/preparedEnvelopeUpsertResponse"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "A successful response for updating a prepared envelope"
                    }
                },
                "operationId": "UpdatePreparedEnvelope",
                "summary": "Perform additional operations on a previously created prepared envelope",
                "description": "Make additional modifications to the prepared envelope referenced by the {preparedEnvelopeID} that was returned from a /submit/prepare operation. This may be useful, for example, in cases where an envelope contains multiple documents and needs to be split up into multiple submissions."
            }
        },
        "/submit": {
            "post": {
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "request": {
                                        "$ref": "#/components/schemas/templateParsed",
                                        "type": "object"
                                    }
                                }
                            },
                            "examples": {
                                "submit template example": {
                                    "description": "Pass the templateID of the Simple Setup template (you can perform a GET to /templates to see all available templates), and a values array of name/value pairs for the sender inputs. You control the names of the sender inputs, so any submit needs to be adjusted to match what your template requires be sent in.",
                                    "value": {
                                        "request": {
                                            "placeholders": [],
                                            "templates": [
                                                {
                                                    "templateID": "9562851d-7c22-415c-b373-6f49f72fdd53",
                                                    "values": [
                                                        {
                                                            "name": "Envelope Name 2 ",
                                                            "value": "My New Envelope"
                                                        },
                                                        {
                                                            "name": "Envelope Order number 2",
                                                            "value": "Account_Order_123"
                                                        },
                                                        {
                                                            "name": "Expiration Date 2",
                                                            "value": "06/17/2019"
                                                        },
                                                        {
                                                            "name": "Language",
                                                            "value": "en-US"
                                                        },
                                                        {
                                                            "name": "Signer 1 Name",
                                                            "value": "John Doe"
                                                        },
                                                        {
                                                            "name": "Signer 1 Email",
                                                            "value": "john.doe@example.com"
                                                        },
                                                        {
                                                            "name": "Signer 1 Mobile Phone",
                                                            "value": ""
                                                        },
                                                        {
                                                            "name": "DocumentFile",
                                                            "files": [
                                                                {
                                                                    "fileToUpload": {
                                                                        "data": "Base64DataHere",
                                                                        "fileName": "ExampleFileName.pdf"
                                                                    },
                                                                    "extension": "pdf"
                                                                }
                                                            ],
                                                            "overlayStartPage": 0
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "submit Ad-hoc example": {
                                    "description": "Illustrates some of the possible configurations that could be used to perform a submit of an ad-hoc document. It is also possible to combine ad-hoc and template request information in a single operation. ",
                                    "value": {
                                        "request": {
                                            "content": {
                                                "addendums": [],
                                                "documents": [
                                                    {
[...]
